package views

import "github.com/maximekuhn/partage/internal/core/query"

templ Group(group *query.GroupDetails) {
	<div>
		group: { group.GroupName.String() }
		<br/>
		owner: { group.Owner.Email.String() }
		<br/>
		total amount: TODO
	</div>
}
