package views

import "github.com/maximekuhn/partage/internal/core/entity"

templ Index(user *entity.User) {
	<div class="flex justify-center mx-auto max-w-xs">
		<h1 class="text-2xl font-bold">
			if user != nil {
				Hello, { user.Nickname.String() }
			} else {
				Welcome !
			}
		</h1>
	</div>
}
