package views

templ Index() {
	<div class="max-w-xs">
		<h1>Welcome to `partage`</h1>
		<div class="flex items-center justify-between">
			<a href="/register" class="bg-blue-500 font-bold text-white">Register</a>
			<a href="/login" class="bg-blue-500 font-bold text-white">Login</a>
		</div>
	</div>
}
