package views

templ Page(title string, body templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<link href="/static/output.css" rel="stylesheet"/>
			<title>{ title }</title>
		</head>
		<body>
			@Navbar(title, nil)
			@body
		</body>
	</html>
}
