package views

import "github.com/maximekuhn/partage/internal/core/entity"

templ Page(title string, user *entity.User, body templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<link href="/static/output.css" rel="stylesheet"/>
			<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
			<title>{ title }</title>
		</head>
		<body>
			@Navbar(title, user)
			@body
		</body>
	</html>
}
