package views

templ Page(title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<link href="/static/output.css" rel="stylesheet"/>
			<title>{ title }</title>
		</head>
		<body>
			<h1 class="text-red-500 text-4xl">
				Hello world, this page is { title }
			</h1>
		</body>
	</html>
}
